.switch {
  display: flex;
  background-color: #747474;
  border-radius: 5px;
  width: fit-content;
  gap: 5px;
  padding: 5px 10px;

  a {
    display: flex;
    padding: 3px 12px;

    &.active {
      background-color: #aaa;
      border-radius: 5px;
    }
  }
}